<html>
   <head>
     </head>
       <body>
         <p>
         New waiver was signed at from Crossfit2120.com
        <%= "#{ @waiver.email }, #{ @waiver.name }."%>
        <%=  link_to waiver_admin_path(@waiver) %>
         </p>
       </body>
</html>
