<html>
   <head>
     </head>
       <body>
         <p>
         New waiver was signed at Crossfit2120.com by 
        <%= "#{ @waiver.email }, #{ @waiver.name }."%>
        <%= link_to 'click here', waiver_admin_url(@waiver) %>
         </p>
       </body>
</html>
