<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-sm-12">
      <div style="text-align:center;">

        <h3>Welcome <%= current_user %></h3>

         
         To see all waivers --> <%= link_to 'Submitted waivers',  waiver_admin_index_path, class: 'btn btn-lg btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>
