.addthis_inline_share_toolbox.share-5 .at-share-btn-elements a.at-share-btn {
	width: 20%;
	margin: 0 0 5px 0;
	display: inline-block;
	text-align: center;
}
.addthis_inline_share_toolbox.share-5 .at-share-btn-elements a.at-share-btn .at-icon-wrapper {
	float: none;
}

.fs-2 {
	font-size: 1.2em
}
.fs-3 {
	font-size: 1.3em
}
.fs-4 {
	font-size: 1.4em
}
.fs-10 {
	font-size: 2em
}

.badge-dark-grey {
	background-color: #555;
	color: #fff;
}

.text-center .scuttlebutt-up-vote, .text-center .scuttlebutt-down-vote {
	width: 7em;
	display:inline-block;
}
.scuttlebutt-vote-score { font-size: 1em;font-weight: normal; }
.text-center .scuttlebutt-up-vote { text-align: right; }
.text-center .scuttlebutt-down-vote { text-align: left; }
