  <section style="padding-top:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h4 class="section-heading text-secondary">Thank you!</h4>
            Your waiver was successfully signed.
            <hr class="dark my-4">
              Check our schedule and come workout with us <%= link_to 'schedule', events_path, class: 'btn btn-lg btn-outline-primary' %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
