<nav class="navbar fixed-bottom navbar-light">
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <a>Crossfit2120
          <br>
          2120 Jimmy Durante Blvd,
          <br>
          Del Mar, CA 92014
        </a>
      <div class="footer-icons">
        <a href = "https://instagram.com/2120_del_mar">
          <i class="fab fa-instagram"></i>
        </a>
        <a href = "https://www.facebook.com/crossfit2120">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6">
        <p>Contact Us</p>
        <%= form_for :contact, :url => {:controller => 'contacts', :action => 'create'} do |f| %>

              <h5 class="successContent">
                <i class="fa fa-check left" style="color: #5cb45d;">></i>
                Your message has been sent successfully.
              </h5>
              <h5 class="errorContent" style="color: #e1534f;">
                <i class="fa fa-exclamation-circle left">></i>
                There was a problem validating the form please check!
              </h5>


              <div class="form-field-wrapper">
                <%= f.text_field :name, id: 'form-name', :placeholder => "Your Name", required: true, class: 'input-md form-full' %>
              </div>
              <div class="form-field-wrapper">
                <%= f.email_field :email, id: 'form-email', :placeholder => "Email", required: true, class: 'input-md form-full' %>
              </div>

              <div class="form-field-wrapper">
                <%= f.text_area :message, id: 'form-message', :placeholder => "Your Message", :required => true, rows: 7, class: 'input-md form-full' %>
              </div>
                <button class="btn-contact-submit btn btn-md btn-color" id="form-submit" name="submit" type="submit">Submit</button>
              
        <% end %>
    </div>
    </div>

  <div class="row">
    <div class="col-sm-12">
        <b style="m-0 text-center text-white small">Copyright &copy; Your Website 2018</b>
    </div>
  </div>

</div>
</nav>
