<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"><%= @contact.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Email</th>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <th scope="row">Message</th>
            <td><%= @contact.message %></td>
          </tr>
          <tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
