/* line 1, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.addthis_inline_share_toolbox.share-5 .at-share-btn-elements a.at-share-btn {
  width: 20%;
  margin: 0 0 5px 0;
  display: inline-block;
  text-align: center;
}

/* line 7, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.addthis_inline_share_toolbox.share-5 .at-share-btn-elements a.at-share-btn .at-icon-wrapper {
  float: none;
}

/* line 11, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.fs-2 {
  font-size: 1.2em;
}

/* line 14, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.fs-3 {
  font-size: 1.3em;
}

/* line 17, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.fs-4 {
  font-size: 1.4em;
}

/* line 20, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.fs-10 {
  font-size: 2em;
}

/* line 24, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.badge-dark-grey {
  background-color: #555;
  color: #fff;
}

/* line 29, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.text-center .scuttlebutt-up-vote, .text-center .scuttlebutt-down-vote {
  width: 7em;
  display: inline-block;
}

/* line 33, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.scuttlebutt-vote-score {
  font-size: 1em;
  font-weight: normal;
}

/* line 34, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.text-center .scuttlebutt-up-vote {
  text-align: right;
}

/* line 35, /Users/lalibear/Desktop/dfmfit/app/assets/stylesheets/custom/application.css.scss */
.text-center .scuttlebutt-down-vote {
  text-align: left;
}
