<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <center>
      <table class="table d-sm-none d-md-none d-lg-none d-xl-none">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Monday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5:15 am Crossfit</td>
          </tr>
          <tr>
            <td>6:00 am Crossfit</td>
          </tr>
          <tr>
            <td>7:00 am 55+ semi-private group training</td>
          </tr>
          <tr>
            <td>8:00 am Crossfit</td>
          </tr>

          <tr>
            <td>12:00 pm Crossfit</td>
          </tr>

          <tr>
            <td>5:00 pm Crossfit</td>
          </tr>
          </tbody>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tuesday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5:15 am Crossfit</td>
            </tr>
            <tr>
              <td>6:00 am Crossfit</td>
            </tr>
            <tr>
              <td>8:00 am Crossfit</td>
            </tr>
            <tr>
              <td>12:00 pm Crossfit</td>
            </tr>
            <tr>
              <td>5:00 pm Crossfit</td>
            </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Wednesday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5:15 am Crossfit</td>
              </tr>
              <tr>
                <td>6:00 am Crossfit</td>
              </tr>
              <tr>
                <td>7:00 am 55+ semi-private group training</td>
              </tr>
              <tr>
                <td>8:00 am Crossfit</td>
              </tr>

              <tr>
                <td>12:00 pm Crossfit</td>
              </tr>

              <tr>
                <td>5:00 pm Crossfit</td>
              </tr>
              </tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Thursday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5:15 am Crossfit</td>
                </tr>
                <tr>
                  <td>6:00 am Crossfit</td>
                </tr>
                <tr>
                  <td>8:00 am Crossfit</td>
                </tr>
                <tr>
                  <td>12:00 pm Crossfit</td>
                </tr>
                <tr>
                  <td>5:00 pm Crossfit</td>
                </tr>
                </tbody>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Friday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5:15 am Crossfit</td>
                  </tr>
                  <tr>
                    <td>6:00 am Crossfit</td>
                  </tr>
                  <tr>
                    <td>7:00 am 55+ semi-private group training</td>
                  </tr>
                  <tr>
                    <td>8:00 am Crossfit</td>
                  </tr>

                  <tr>
                    <td>12:00 pm Crossfit</td>
                  </tr>

                  </tbody>
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Saturday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>8:00 am Open gym</td>
                    </tr>
                    <tr>
                      <td>9:00 am Crossfit</td>
                    </tr>
                    <tr>
                      <td>10:00 am Open gym</td>
                    </tr>
                    </tbody>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10:00am-12.00pm Open gym</td>
                      </tr>
                      <tr>

                      </tbody>

      </table>
  <div class="d-none d-sm-block">
      <table class="table">

      <thead class="thead-dark">
        <tr>
          <th scope="col">Time/Day</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">5:00am-6:00am</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6am-7am</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">7am-8am</th>
          <td class="table-success">55+</td>
          <td></td>
          <td class="table-success">55+</td>
          <td></td>
          <td class="table-success">55+</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">8am-9am</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-warning">Open Gym</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">9am-10am</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-primary">Crossfit</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10am-11am</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-warning">Open Gym</td>
          <td class="table-warning">Open Gym</td>
        </tr>
        <tr>
          <th scope="row">11am-12pm</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-warning">Open Gym</td>
        </tr>
        <tr>
          <th scope="row">12pm-1pm</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1pm-2pm</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2pm-3pm</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3pm-4pm</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4pm-5pm</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5pm-6pm</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
    </div>
    </center>
  </div>
</div>
</div>
