<% cache 'v1', expires_in: 6.days do %>
<div class="container pt-60">
  <div class="row">
    <div class="col-sm-12">
      <center>
      <table class="table d-sm-none d-md-none d-lg-none d-xl-none">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Monday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5 AM Crossfit</td>
          </tr>
          <tr>
            <td>6 AM Crossfit</td>
          </tr>
          <tr>
            <td>8 AM Crossfit</td>
          </tr>

          <tr>
            <td>12 PM Crossfit</td>
          </tr>

          <tr>
            <td>4 PM Crossfit</td>
          </tr>
          <tr>
            <td>5 PM CrossFit</td>
          <tr>
          </tbody>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tuesday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5 AM Crossfit</td>
            </tr>
            <tr>
              <td>6 AM Crossfit</td>
            </tr>
            <tr>
              <td>8 AM Crossfit</td>
            </tr>
            <tr>
              <td>12 PM Crossfit</td>
            </tr>
            <tr>
              <td>4 PM Crossfit</td>
            </tr>
            <tr>
              <td>5 PM CrossFit</td>
            <tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Wednesday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5 AM Crossfit</td>
              </tr>
              <tr>
                <td>6 AM Crossfit</td>
              </tr>
              <tr>
                <td>8 AM Crossfit</td>
              </tr>

              <tr>
                <td>12 PM Crossfit</td>
              </tr>

              <tr>
                <td>4 PM Crossfit</td>
              </tr>
              <tr>
                <td>5 PM CrossFit</td>
              <tr>
              </tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Thursday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5 AM Crossfit</td>
                </tr>
                <tr>
                  <td>6 AM Crossfit</td>
                </tr>
                <tr>
                  <td>8 AM Crossfit</td>
                </tr>
                <tr>
                  <td>12 PM Crossfit</td>
                </tr>
                <tr>
                  <td>4 PM Crossfit</td>
                </tr>
                <tr>
                  <td>5 PM CrossFit</td>
                <tr>
                </tbody>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Friday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5 AM Crossfit</td>
                  </tr>
                  <tr>
                    <td>6 AM Crossfit</td>
                  </tr>
                  <tr>
                    <td>8 AM Crossfit</td>
                  </tr>

                  <tr>
                    <td>12 PM Crossfit</td>
                  </tr>
                  <tr>
                    <td>4 PM CrossFit</td>
                  <tr>

                  </tbody>
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Saturday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>8 AM Open gym</td>
                    </tr>
                    <tr>
                      <td>9 AM Crossfit</td>
                    </tr>
                    <tr>
                      <td>10 AM - 12PM Open gym</td>
                    </tr>

                    </tbody>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10 AM - 12 PM Open gym</td>
                      </tr>
                      <tr>

                      </tbody>

      </table>
  <div class="d-none d-sm-block">
      <table class="table">

      <thead class="thead-light">
        <tr>
          <th scope="col">Time/Day</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">5 AM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6 AM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">7 AM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">8 AM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">9 AM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-primary">Crossfit</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10 AM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-warning">Open Gym</td>
          <td class="table-warning">Open Gym</td>
        </tr>
        <tr>
          <th scope="row">11 AM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="table-warning">Open Gym</td>
          <td class="table-warning">Open Gym</td>
        </tr>
        <tr>
          <th scope="row">12 PM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1 PM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2 PM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3 PM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4 PM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5 PM</th>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td class="table-primary">Crossfit</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">6 PM</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


      </tbody>
    </table>
    </div>
    </center>
  </div>
</div>
</div>

<% end %>
