
    <section class="bg-light" style="padding-top:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-secondary">Drop-ins</h2>
            <hr class="light my-4">
              $25 – Drop-In<br>
              $35 – Drop-In w/t-shirt<br>
              Weekly drop in: Valid for 7 days only!<br>
              $25 – 1 day<br>
              $46 – 2 days<br>
              $63 – 3 days<br>
              $76 – 4 days<br>
            <hr class="light my-4">
            Fill out our waiver here<%= link_to 'waiver', new_waiver_path, class: 'btn btn-lg btn-outline-primary' %>
          </div>
        </div>
      </div>
    </section>
