
Drop-Ins
$25 – Drop-In
$35 – Drop-In w/t-shirt
Weekly drop in: Valid for 7 days only!
$25 – 1 day
$46 – 2 days
$63 – 3 days
$76 – 4 days


<td><%= link_to 'waiver', new_waiver_path, class: 'btn btn-link' %></td>
