<div class="container pt-60">
  <div class="row">
    <div class="col-sm-12 offset-sm-12">
      <h2 style="text-align:center;font-family:'Raleway',sans-serif;">Drop-Ins</h2>
      $25 – Drop-In<br>
      $35 – Drop-In w/t-shirt<br>
      Weekly drop in: Valid for 7 days only!<br>
      $25 – 1 day<br>
      $46 – 2 days<br>
      $63 – 3 days<br>
      $76 – 4 days<br>
      <h6>Fill out our waiver here<%= link_to 'waiver', new_waiver_path, class: 'btn btn-lg btn-outline-primary' %></h6>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
