
    <section style="padding-top:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h4 class="section-heading text-secondary">Membership</h4>
            <hr class="dark my-4">
           CrossFit 2120 is an all training facility. We highly recommend that our new CrossFit clients commit to either 3,6, or 9 personal or semi-private session package. We will cover not only movements that are common to our program but you will gain an understanding of scaling, modifying, and essential strategies to succeed and thrive.
  			Come be a part of our community made up of current and former professional athletes, teens, grandparents, parents, and Heroes who want to live better and have more fulfilling lives.
  			<hr class="dark my-4">
  			$160 per month Unlimited 12 Month Commitment<br>
			$175 per month Unlimited 6 Month Commitment<br>
			$195.00 per month Unlimited Month to Month<br>
			<hr class="dark my-4">
			Military,Fire,Police, Teachers, & First Responders: 10% discount applies to all membership packages.<br>
			We also offer couples and family group plans. Please contact us for details.

          </div>
        </div>
      </div>
    </section>
