
<div class="container-fluid p-0">
    <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" href="https://imgur.com/LyenAuY" >
          <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h4 style="padding-top:20px; text-align:center">Dan Miller</h4>
          <p class="lead mb-0">
            <div class="container">Dan Miller (CF Level 1, NASM, CPT, CF Oly, Nutrition, Mobility, SealFit Level 1) is CEO of DFM Fitness, LLC and founder of CrossFit 2120 in Del Mar, California. He provides personal training and group CrossFit training for both sport-specific objectives and general physical preparedness. Dan’s high standards are reflected in a safe, supportive, and clean gym environment and in a passion for helping athletes realize their potential.
            Dan was a competitive mogul skier back when neon was cool the first time. His drive to improve his performance, and to help others improve theirs, led to training and coaching. This journey brought him to CrossFit in 2005, when he became a certified coach. By 2007, Dan had become the head trainer at U.S. CrossFit in Encinitas, CA. In 2012, he opened CrossFit 2120, which grew to over 100 members in under a year. Dan also coaches SEALFIT Kokoro Camp, a 50-hour crucible training experience.
            Dan’s approach to training mixes tough-love and humor and has proved successful for local military, first responders, moms & dads, teen athletes, grandparents, college students, Olympians, and professional athletes. He takes great pride in the community’s camaraderie and dedication and knows that anyone with the courage to start and the persistence to continue will find improved health and a new love of fitness.
            When not coaching, Dan can be found surfing, enjoying daddy-time with his daughters Scarlett and Andi, or manning the grill at a 2120 cookout.</div>
          </p>
        </div>
</div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" href="https://imgur.com/LyenAuY" >
          <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h4 style="text-align: center">Alan Anderson</h4>
          <p class="lead mb-0">
<div class="container">
            Alan Anderson is born and raised in San Diego, CA. For the first 18 years of his life he was an overweight individual, who lived everyday eating junk food and playing video games. Through high school he worked his way up to 274 lbs. and decided that he would no longer live his life this way. Alan than began his fitness journey; He found a personal trainer, poured money, time & commitment into it and within 8 months he had lost 91 lbs. (274-183lbs.)
             Alan is a firm believer that anyone who has the right people around them and the right belief in self can accomplish anything. He was not born into this world fit and active, he had and continue to work on it everyday of his life.
             Alan has a few standards he requires in every class from each athlete. He does not demand perfection but good hard work. His top priority in every class is safety. He have a strong passion for getting all athletes to move to the best of their ability, always striving to hit their true potential. He is always looking for new ways to make class a learning experience, but more importantly he is always striving to make the class fun!
             Credentials:
              NASM CPT
              NASM CES
              CrossFit Level 2 Coach
              CrossFit Olympic Lifting
              CrossFit Powerlifting
              CrossFit Gymnastics
              CrossFit Movement and Mobility
              SPEAR PDR Certified Coach
              Hobbies:
            Surfing, shooting firearms, learning, working out & playing chess.</div>
            </p>
          </div>

</div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" href="https://imgur.com/LyenAuY">
        <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
        </div>

        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h4 style="text-align: center">Amy Green</h4>
          <p class="lead mb-0">
          <div class="container">Amy has always been active. She grew up doing gymnastics and figure skating. Amy later got certified as a personal trainer and started teaching bootcamps. She had a friend tell her about Crossfit, and she tried it and never wanted to leave this sport. She appreciates the community and family aspect of it. She likes strategizing her workouts and mentally pushing herself beyond what she has ever thought that she could do. Amy loves being strong and being around strong and likeminded people. Amy loves building rapports with the members and really helping them move well, in addition to making them love where they come to work hard everyday.
          <br>
          Amy loves weightlifting, but her speciality is more the gymnastics side. All the handstands and different variations, and all the muscle ups are her favorite. When she is not at the gym, she is probably thinking about the gym, but she also enjoys hiking and riding her bike around the beach, music, going out with friends, trying new food, and hanging with her dog. Amy enjoys being outside with good people and anywhere where the live music is. She lives to explore. It’ll be 4 years in March since she started doing CrossFit and she wouldn’t change it for the world.
          <br>
          Certifications include:
          CF L1
          NCSF
          Nesta</div>
        </p>
        </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" href="https://imgur.com/LyenAuY">
           <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
           </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h4 style="text-align: center">Mike Samela </h4>
          <p class="lead mb-0">
          <div class="container">(CF Level 1), Mike moved across the country to California to pursue a career in CrossFit as a coach and competitor. Mike has played sports his whole life and loves competition. This led him to play Division I collegiate football and semi-professionally after college. Mike found CrossFit in 2014 after his college football team used CrossFit as their offseason training program. He saw the amazing benefits it produced and now he hopes to share his knowledge and experiences to as many people as possible!
          </div>
          </p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" href="https://imgur.com/LyenAuY">
        <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
        </div>

        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h4 style="text-align: center">Hillary Phan</h4>
        <p class="lead mb-0">
        <div class="container">Hillary’s passion for fitness is great. She has a background in Oly lifting and has been a avid CrossFitter for over 2 years. She loved CrossFit so much she made the switch from Oly to CrossFit. She loves to teach technique during lifts and keeps every class motivated and fun. If you are looking for a good party class while keeping you accountable to movements come to Hillay’s class.</div>
        </p>
      </div>
    </div>

    <div class="row no-gutters">
       <div class="col-lg-6 text-white showcase-img" href="https://imgur.com/LyenAuY">
        <img src="https://i.imgur.com/LyenAuY.jpg" title="source: imgur.com" />
        </div>

      <div class="col-lg-6 my-auto showcase-text">
        <h4 style="text-align: center">Ryan Gray</h4>
        <p class="lead mb-0">
        <div class="container">Ryan Gray started his CrossFit journey in 2010 and has coached well over 3,000 hours. He specializes in weightlifting and individual program design, and is passionate about helping others achieve a healthier lifestyle that empowers the individual to live a more fulfilled life.
        <br>
        Ryan’s athletic background includes recognition in many sports: Martial arts 3x National champion in Tae Kwon Do, wrestling, MMA, and football. During his free time, Ryan enjoys spending time with his family, snowboarding, and watching football.
        <br>
        Ryan has coached Regional CrossFit Athletes and National level weightlifters, but his real passion is in coaching ANY individual to reach their own specific goals. His favorite moments with clients are when they have their "ah-ha!" moment and realize they are capable to do what they once thought was impossible.
        <br>
        Credentials:
        CrossFit Level 1 Trainer<br>
        CrossFit Rowing Certified<br>
        USA Weightlifting Sports Performance Coach<br>
        USA Weightlifting LWC Referee<br>
        Brute Force ULOO Trainer</div>
        </p>
      </div>
    </div>
  </body>
