    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-secondary">Personal training prices</h2>
            <hr class="light my-4">
            Dan<br>
            Amy<br>
            Allan<br>
            Mike<br>
            Hillary<br>
            Ryan<br>
            <hr class="light my-4">
            Contact us to schedule an appointment
          </div>
        </div>
      </div>
    </section>
