<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-sm-12">

personal training info and prices
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  </div>
</div>
