    <section class="bg-light" style="padding-top:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h3 class="section-heading text-secondary">Personal training prices</h3>
            <hr class="dark my-4">
            Dan _____<br>
            Amy _____<br>
            Allan _____<br>
            Mike _____<br>
            Hillary _____<br>
            Ryan _____<br>
            <hr class="dark my-4">
            Contact us to schedule an appointment.
          </div>
        </div>
      </div>
    </section>
