Name/ adress/ phone number/ email/ map/ facebook/ instagram
<!-- Map -->
   <section id="contact" class="map">
     <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Crossfit+2120/@32.966331,-117.2644558,15.17z/data=!4m5!3m4!1s0x80dc08cdace68b53:0x9bd55a37ade876c6!8m2!3d32.9700653!4d-117.2645875"></iframe>
     <br/>
     <small>
       <a href="https://www.google.com/maps/place/Crossfit+2120/@32.966331,-117.2644558,15.17z/data=!4m5!3m4!1s0x80dc08cdace68b53:0x9bd55a37ade876c6!8m2!3d32.9700653!4d-117.2645875"></a>
     </small>
   </section>
