Name/ adress/ phone number/ email/ map/ facebook/ instagram
<!-- Map -->
   <section id="contact" class="map">
     <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
     <br/>
     <small>
       <a href="https://www.google.com/maps/place/Crossfit+2120/@32.966331,-117.2644558,15.17z/data=!4m5!3m4!1s0x80dc08cdace68b53:0x9bd55a37ade876c6!8m2!3d32.9700653!4d-117.2645875"></a>
     </small>
   </section>
