
= render 'scuttlebutt/votes/widget', parent_obj: post, args: { async: args[:async] }
|
- if args[:subscribable]
	= render 'scuttlebutt/subscriptions/widget', parent_obj: post, args: {}
	|
%span.dropdown.dropdown-caretless
	%a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, role: :button, 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
		%i.fa.fa-ellipsis-h
	.dropdown-menu
		- if (args[:async] || [Scuttlebutt::DiscussionTopic, Scuttlebutt::DiscussionPost].select{|c| post.is_a?( c ) }.present? ) && current_user == post.user
			%a.dropdown-item{ href: scuttlebutt.edit_post_path( post.id ) } edit
			%a.dropdown-item{ href: scuttlebutt.post_path( post.id ), data: { confirm: 'Are you sure you want to delete this?', method: :delete } } delete
		%a.dropdown-item{ href: scuttlebutt.report_post_path( post.id, selector: args[:selector] ), data: { confirm: 'Are you sure you want to report this?', method: :put, remote: true } } report
