/ Intro
%section#intro.intro
  / Static Intro
  -#.bg-image.overlay-dark.dark-bg.bg-fixed{"data-background-img" => 'https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/H-P/lion-male-roar.adapt.945.1.jpg'}
  .js-fullscreen-height.container
    .intro-content
      .intro-content-inner
        %h2.h2 Welcome to Crossfit 2120!
        .br
        %h6.h6 Contact us for a free workout
  / End Static Intro
/ End Intro
-#.clearfix
