= form_for :contact, :url => {:controller => 'contacts', :action => 'create'} do |f|
  .row
    .col-sm-12.text-center
      %h5.successContent
        %i.fa.fa-check.left{:style => "color: #5cb45d;"}>
        Your message has been sent successfully.
      %h5.errorContent{:style => "color: #e1534f;"}
        %i.fa.fa-exclamation-circle.left>
        There was a problem validating the form please check!
    .col-sm-6
      .form-field-wrapper
        = f.text_field :name, id: 'form-name', :placeholder => "Your Name", required: true, class: 'input-md form-full'
      .form-field-wrapper
        = f.email_field :email, id: 'form-email', :placeholder => "Email", required: true, class: 'input-md form-full'
    .col-md-6
      .form-field-wrapper
        = f.text_area :message, id: 'form-message', :placeholder => "Your Message", :required => true, rows: 7, class: 'input-md form-full'
    .col-md-12.text-center
      %button#form-submit.btn-contact-submit.btn.btn-dark{:name => "submit", :type => "submit"} Submit
      
