<% cache 'v1', expires_in: 3.days do %>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead" style="background-image: url('https://s3.us-east-2.amazonaws.com/2120-web/images/IMG_00535.jpg');background-position-x: left;" title="source: imgur.com')">
<%= render 'root/intro' %>

</header>

<!-- Page Content -->
<section class="py-4">
  <div class="container">
    <h2 style="text-shadow:2px 1px #007bff">About us</h2>
    <p>CrossFit 2120 is located in coastal Del Mar, California. We are a Group Coaching and Personal
training facility nestled in the heart of the town, just two blocks from the Pacific Ocean and the Del
Mar Fairgrounds. As Del Mar’s town motto says, you’ll find us “where the surf meets the turf.”<br>
We have a 2,400 square foot main facility. Our Gym has a very open feel with on-shore breezes,
spectacular coastal running routes and the legendary Zapo loop. Our training asks the human body
to push, pull, throw, squat, press, jump and run under varied tasks and time domains. From our staff
of coaches to all the great members of 2120, we invite you to come improve your life with us.</p>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <h2 style="text-shadow:2px 1px #007bff">Why Crossfit 2120</h2>
    <p>Safety. Accountability. Fun. I started this gym to share a vision of training and to bring out the best in
people. Do not be intimidated. First step, come meet us and try a workout on us. At 2120 we focus
on mechanics before intensity. We believe in accountability. Accountability in movements
guarantees safety. Accountability to programming guarantees results. At the end of each hour, a
sense of team and accomplishment brings our members together. This camaraderie is the extra
benefit from becoming a part of our 2120 family. After you workout, you look better, you feel better,
you ARE better. Come down to CrossFit 2120 and explore the possibilities. Owner/Coach Dan
Miller.</p>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <h2 style="text-shadow:2px 1px #007bff">Join us</h2>
    <p>The best way to get started is to contact us so we can get you scheduled for your first class. Email us at info@crossfit2120.com or call us at 858-230-9198. Check the schedule here to see what class time will work best for you. After you fill out a quick waiver online, you will join the class. During the class the coach will modify and scale the workout to every athlete’s fitness level.</p>
  </div>
</section>
</section>
        <section id="contact" class="map">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.278049744056!2d-117.26649286056403!3d32.970065285535604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc08cdace68b53%3A0x9bd55a37ade876c6!2sCrossfit+2120!5e0!3m2!1sen!2sus!4v1544396902427" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"style="border:0" allowfullscreen></iframe>
 <br/>
 <small>
   <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.278049744056!2d-117.26649286056403!3d32.970065285535604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc08cdace68b53%3A0x9bd55a37ade876c6!2sCrossfit+2120!5e0!3m2!1sen!2sus!4v1544396902427"></a>
 </small>
</section>

<% end %>

<%= render 'root/promo_modal' %>
