/ Sidebar
.col-lg-3.col-md-3.mt-sm-30
	-# .sidebar-widget
		%h5 Search
		.widget-search
			%input#wid-search.form-full.input-lg{:name => "search", :placeholder => "Search Here", :type => "text", :value => ""}/
			%input#wid-s-sub{:name => "email", :type => "submit", :value => ""}/
	-# .sidebar-widget
		%h5 Categories
		%hr/
		%ul
			%li
				%a Photography
			%li
				%a Web Design
			%li
				%a Lifestyle
			%li
				%a Responsive
			%li
				%a MultiPurpose Theme
			%li
				%a Agency
			%li
				%a Portfolio
	- if ( recent_articles = Pulitzer::Article.published.where.not( id: @media.try(:id) ).order(publish_at: :desc).limit(3) ).present?
		.sidebar-widget
			%h5 Recent Post
			%hr/
			%ul.widget-post
				- recent_articles.each do |media|
					%li
						%a.widget-post-media{ href: media.url }
							%img{:src =>  media.avatar }/
						.widget-post-info
							%h6
								%a{ href: media.url }=media.title
							.post-meta
								%span=media.publish_at.strftime('%B %e, %Y')
	- if ( tag_cloud = Pulitzer::Article.published.media_tag_cloud( limit: 7 ) ).present?

		.sidebar-widget
			%h5 popular Tags
			%hr/
			%ul.widget-tag
				- tag_cloud.each do |tag,count|
					%li
						%a{ href: pulitzer.articles_path( tagged: tag ) }= tag
/ End Sidebar
