- cache( "#{@media.cache_key}-#{current_user.present?}", expires_in: 1.hour ) do
	/ CONTENT -------------------------------------------------------------------------------
	/ Intro Section
	- if @media.cover_image.present?
		/ Intro Section

		%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1{"data-background-img" => @media.cover_image }
			.container
				.row
					%h4.section-heading.text-secondary=@media.title

		/ End Intro Section

	/ Intro Section
	%section{:style => "padding-top:50px; font-family: 'Raleway', sans-serif"}
		.container
			.row
				.col-12
					%h4.section-heading.text-secondary=@media.title
					.blog-post.mb-30{:style => "padding-top:10px"}
						.post-meta
							%span=@media.publish_at.strftime('%B %e, %Y')
							%br

						.post-entry.fr-view
							= raw @media.content
						.post-tag.pull-left
							- @media.tags.each do |tag|
								%span
									%a{ href: pulitzer.articles_path( tagged: tag ) }>=tag
									- unless tag == @media.tags.last
										,
								-#= render 'application/social', object: @media, args: { page: params[:page] }

							-#= render 'pulitzer/articles/side_bar'
				/ End Blog Post Section
		= render 'pulitzer/articles/next_prev_bar'
	/ End CONTENT ----------------------------------------------------------------------------
