.masthead {
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  h2 {

    text-shadow: 3px 3px #007bff;
  }

 .intro-content {
  color: #404040;
}
