.masthead {
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  h2 {
    text-shadow: 3px 3px #000000;
  }

 .intro-content {
  color: #fcfcfc;
}
 .h6 {
   color: #fcfcfc;
   text-shadow: 2px 2px #000000;
 }
