<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h2 style="text-align:center;font-family:'Raleway',sans-serif;">Edit your log</h2>
        <%= render 'form', log: @log %>
        <%= link_to 'Show', @log, class: 'badge badge-light' %> |
        <%= link_to 'Back', logs_path, class: 'badge badge-light' %>
    </div>
  </div>
</div>
