- cache( 'contacts#new' ) do
	/ CONTENT -------------------------------------------------------------------------------
	/ Intro Section
	%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1{"data-background-img" => asset_path("app_theme/theme/onepage/img/full/14.jpg")}
		.container
			.row.title
				%h2.h2 Thank You for Contacting Us!
				%br/
				%a.btn.btn-md.btn-black{:href => '/'}
					%i.fa.fa-angle-left.left>
					Back To Home

	/ End Intro Section
	/ Contact Section
	-# %section.ptb.ptb-sm-80
		.container
			.row
				.col-md-6.offset-md-3.text-center
					%p.lead
	/ Contact Section
	/ End CONTENT ----------------------------------------------------------------------------
